extends ./layout

block content
  section.header
    .header-content
        h1 Heading
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

  section.categories
    span Gluten-free
    span Vegan
    span Vegetarian
    span Halal
    span Dairy-free
  
