extends ./layout

block content
  section.header
    .header-content
        h1 Heading
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

  section.categories
    button Gluten-free
    button Vegan
    button Vegetarian
    button Halal
    button Dairy-free
  
