extends ./layout

block content
  section.header
    .header-content
        h1 WorldsPantry

  section.categories
    each tag in dietaryTags
      a.category-btn(href=`/explore?dietary=${tag.dietary_id}`)= tag.name
  
  section.recipe-cards 
    include _recipe-card.pug