extends layout

block content
  .profile-page
    h1 Settings

    form(method="post" action="/settings")
      .form-group
        label Username:
        input(type="text", name="username")

      .form-group
        label Password:
        input(type="password", name="password")

      button.btn-submit(type="submit") Save Changes

    a(href="/auth/signout") Log Out
