extends ./layout

block content
  .auth-page
    .auth-card
      .auth-header
        h1 Welcome Back
        p Sign in to your World's Pantry account.

      if error
        .alert.alert-error= error

      form.auth-form(action="/auth/signin" method="POST")
        .form-group
          label(for="email") Email Address
          input#email(type="email" name="email" placeholder="you@example.com" required)

        .form-group
          label(for="password") Password
          input#password(type="password" name="password" placeholder="Your password" required)

        button.btn-submit(type="submit") Sign In

      .auth-footer
        p Don't have an account?
          a(href="/signup")  Join for free
