/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #faf0e1;
}

header {
    background-color: #6a4a47;
    padding: 16px 28px;
}

nav {
    display: flex;
    align-items: center;
}

/* Style and position seperate parts of the nav bar */
.nav-left {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-left a {
    text-decoration: none;
    color: #b7c15c;
    font-size: 15px;
}

.nav-left a:hover {
    text-decoration: underline;
}

.nav-left img,.nav-right img {
    width: 44px;
    height: 44px;
    object-fit: cover;
}

.nav-right img {
    border-radius: 50%;
}

/* Home page styliing */
.header{
    position: relative;
    height: 60vh;
    background-image: url('/images/salad-bowl.jpg');
    background-size: 75%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(243, 209, 147, 0.466);
}

.header-content {
    position: relative;
    color: white;
    text-align: center;
    z-index: 1;
}

.header-content h1{
    font-size: 40px;
}

.categories {
    display:flex;
    justify-content: center;
    gap: 2rem;
}

/* recipe page styling */
.recipe-hero{
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    margin-bottom: 1.5rem;
}

.recipe-meta {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.recipe-meta .like, .recipe-meta .save {
    margin-left: auto;
    background: none;
    border: 1px solid #ccc;
    border-radius: 999px;
    padding: 0.4rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s;
}

.recipe-meta .save:hover, .recipe-meta .like:hover { 
    border-color: #c1440e; 
    color: #c1440e; 
}

.recipe-body {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}
 
.recipe-main h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #1a1a1a;
}
 
.recipe-main h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    color: #1a1a1a;
}
 
.recipe-main p {
    font-size: 0.95rem;
    line-height: 1.75;
    color: #444;
    margin-bottom: 1rem;
}

.recipe-main ul, .recipe-main ol {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

.recipe-main li {
    font-size: 0.95rem;
    line-height: 1.75;
    color: #444;
    margin-bottom: 0.4rem;
}

.divider {
    border: none;
    height: 1px;
    background: linear-gradient(to right, #ccc, transparent);
    margin: 1.5rem 0;
}
